@inherits LayoutComponentBase

<div class="page">
    <!--Ändra klassnamn-->
    <div class="navbar">
        <NavMenu />
    </div>
    <main>
        <article class="container">
            @Body
        </article>
    </main>
    <Footer/>
</div>
