@inherits LayoutComponentBase

<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>
    <main>
        <article class="container">
            @Body
        </article>
    </main>
    <FooterComponent/>
</div>
