<header>
    <div>
        <h1>JVCalculator</h1>
    </div>
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="currencyexchange">
                Currency Converter
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="compound">
                Compound Interest
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="lengthconverter">
                Length Converter
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="bmi">
                BMI calculator
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="ISKTax">
                ISK
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="numberconverter">
                Number Converter
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Temperature">
                Temperature Converter
            </NavLink>
        </div>
    </nav>
</header>
