header {
    background-color: var(--color-bg-variant);
    color: var(--color-white);
    padding: 1rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .logo h1 {
        font-size: 2rem;
        width: 80%;
    }

.show-menu {
    width: 15%;
    background: none;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    height: 40px;
}

    .show-menu i {
        font-size: 1.5rem;
        color: var(--color-white);
        width: 24px;
    }

.hidden {
    display: none;
}

nav {
    padding-top: 1rem;
    transition: var(--transition);
}

.nav-item {
    display: flex;
}

::deep .nav-link {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-white);
}

::deep .active {
    font-weight: 900;
}
