.calculator  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.unit-selection {
    padding: 0.5rem 0rem;
    font-size: 1.1rem;
    width: 40%;
}

.selected {
    background: var(--color-primary);
    color: var(--color-white);
}

@media (min-width: 600px) {
    .calculator {
        display: block;
    }
    .unit-selection {
        width: 28%;
        margin-right: 1rem;
    }
}
