@page "/bmi"

<PageTitle>BMI Calculator</PageTitle>

<h2>BMI Calculator</h2>

<div class="calculator">
    <button @onclick="() => UsingMetricUnits = true" type="button" class="btn unit-selection @(UsingMetricUnits ? "selected" : "")">Metric Units </button>
    <button @onclick="() => UsingMetricUnits = false" type="button" class="btn unit-selection @(UsingMetricUnits ? "" : "selected")">Imperial Units</button>
    <form @onsubmit="HandleSubmit" @onsubmit:preventDefault="true">
        @if (UsingMetricUnits)
        {
            <div>
                <label for="height-in-cm">Your height in cm:</label>
                <input type="number" id="height-in-cm" @bind="HeightInCm" required />
            </div>
            <div>
                <label for="weight-in-kg">Your weight in kg:</label>
                <input type="number" id="weight-in-kg" @bind=WeightInKg required />
            </div>
        }
        else
        {
            <fieldset>
                <label for="feet-input">Feet:</label>
                <input type="number" id="feet-input" @bind="HeightFeet" required />
                <label for="inch-input">Inches:</label>
                <input type="number" id="inch-input" @bind="HeightInches" required />
            </fieldset>
            <div>
                <label for="weight-in-lbs">Your weight in pounds:</label>
                <input type="number" id="weight-in-lbs" @bind=WeightInLbs required />
            </div>
        }

        @if (InvalidInput)
        {
            <p class="error">Please enter your height and weight with numbers</p>
        }
        else
        {
            <p class="output">@BMI</p>
        }
        <button class="btn" type="submit">Calculate</button>
    </form>
</div>