@using JVCalculatorCsharp.CompoundInterest;
@page "/compound";

<h2>Compound Calculator</h2>

<form @onsubmit="handleSubmit" @onsubmit:preventDefault="true">
    <label for="startAmount">Starting capital</label>
    <input type="number" id="startAmount" placeholder="Example: 1000" @bind="StartingCapital" required />
    <label for="rateOfReturn">Annual return in %</label>
    <input type="number" id="rateOfReturn" placeholder="Example: 8" @bind="RateOfReturn" required />
    <label for="investmentPeriod">Investment period in years</label>
    <input type="number" id="investmentPeriod" placeholder="Example: 10" @bind="InvestmentPeriod" required />
    @if (Error)
    {
        <p>Invalid input, please try again.</p>
    }
    <button type="submit">Compound</button>
</form>

<p>@CompoundedValue</p>


@code {
    public string? StartingCapital { get; set; }
    public string? RateOfReturn { get; set; }
    public string? InvestmentPeriod { get; set; }
    public string? CompoundedValue { get; set; }
    public bool Error { get; set; } = false;

    public void handleSubmit()
    {
        try
        {
            var initialCapital = Convert.ToDouble(StartingCapital);
            var annualReturn = Convert.ToDouble(RateOfReturn);
            var years = Convert.ToDouble(InvestmentPeriod);
            Error = false;
            double result = Compound.CalcCompound(initialCapital, annualReturn, years);
            CompoundedValue = result.ToString();
        }
        catch
        {
            Error = true;
        }
    }
}
