@using JVCalculatorCsharp.CompoundInterest;
@page "/compound";

<PageTitle>Compound Calculator</PageTitle>

<h2>Compound Calculator</h2>
<p class="intro">Calculate what your invested capital will be worth after X years with an annual return of Y%.</p>
<div class="calculator">
    <form @onsubmit="handleSubmit" @onsubmit:preventDefault="true">
        <div>
            <label for="startAmount">Starting capital:</label>
            <input type="number" id="startAmount" placeholder="Example: 1000" @bind="StartingCapital" required />
        </div>
        <div>
            <label for="rateOfReturn">Annual return in %:</label>
            <input type="number" id="rateOfReturn" placeholder="Example: 8" @bind="RateOfReturn" required />
        </div>
        <div>
            <label for="investmentPeriod">Investment period in years:</label>
            <input type="number" id="investmentPeriod" placeholder="Example: 10" @bind="InvestmentPeriod" required />
        </div>
        @if (Error)
        {
            <p class="error">Invalid input, please try again.</p>
        }
        <p class="output">@CompoundedValue</p>
        <button class="btn" type="submit">Compound</button>
    </form>
</div>

@code {
    public string? StartingCapital { get; set; }
    public string? RateOfReturn { get; set; }
    public string? InvestmentPeriod { get; set; }
    public string? CompoundedValue { get; set; }
    public bool Error { get; set; } = false;

    public void handleSubmit()
    {
        try
        {
            var initialCapital = Convert.ToDouble(StartingCapital);
            var annualReturn = Convert.ToDouble(RateOfReturn);
            var years = Convert.ToDouble(InvestmentPeriod);
            Error = false;
            double result = Compound.CalcCompound(initialCapital, annualReturn, years);
            CompoundedValue = result.ToString();
        }
        catch
        {
            Error = true;
        }
    }
}
