@media (min-width: 600px) {
    .calculator form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .select-container {
        height: 50%;
        width: 30%;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .input {
        width: 30%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }

        .input input {
            width: 50%;
        }

        .input label {
            width: auto;
        }

    .calculator .output {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .input input {
        width: 60%;
    }

    .calculator select {
        width: 70%;
    }
}

@media (min-width: 1324px) {
    .input input {
        width: 70%;
    }

    .calculator select {
        width: 75%;
    }
}

@media (min-width: 1524px) {
    .input input {
        width: 80%;
    }

    .calculator select {
        width: 85%;
    }
}
