@page "/"

<h2>Welcome to JVCalculator</h2>

<div class="row">
    <div class="card">
        <img src="images/bmi_card_picture.jpg" alt="A woman running outside in the afternoon/morning" />
        <h3>BMI Calculator</h3>
        <p>Calculate your Body Mass Index (BMI)</p>
        <NavLink href="bmi">
            Go To BMI-page
        </NavLink>
    </div>
    <div class="card">
        <img src="images/compound_card.jpg" alt="A man drinking coffee while looking at the stock market on his phone and laptop." />
        <h3>Compound Interest Calculator</h3>
        <p>Calculate compound interest based on starting capital, annual return and investment period.</p>
        <NavLink href="compound">
            Go To Compound Calculator
        </NavLink>
    </div>
    <div class="card">
        <img src="images/currency_card.jpg" alt="US 100 dollar bills with Bitcoin coins on top." />
        <h3>Currency Converter</h3>
        <p>Convert Between 50 Different Currencies</p>
        <NavLink href="currencyexchange">
            Go To Currency Converter
        </NavLink>
    </div>
</div>
<div class="row">
    <div class="card">
        <img src="images/isk_card_page.jpg" alt="A table with money and a sign with 'TAXES' written on it."  />
        <h3>ISK-Tax Calculator</h3>
        <p>Calculate Your Tax For Swedish ISK-Account (2023)</p>
        <NavLink href="ISKTax">
            Go To ISK-Tax Calculator
        </NavLink>
    </div>
    <div class="card">
        <img src="images/length_card.jpg" alt="A table with blueprints, screwdriver, measuring tape and a spirit level." />
        <h3>Length Unit Converter</h3>
        <p>Convert Lengths Between Multiple Metric And Imperial Units</p>
        <NavLink href="lengthconverter">
            Go To Length Converter
        </NavLink>
    </div>
    <div class="card">
        <img src="images/number_card.jpg" alt="A red background with random white numbers on top." />
        <h3>Number Converter</h3>
        <p>Convert Numbers from Decimal, Hexadecimal And Binary</p>
        <NavLink href="numberconverter">
            Go To Number Converter
        </NavLink>
    </div>
</div>
<div class="row">
    <div class="card">
        <img src="images/temperature_card.png" alt="A thermometer showing 39°C in front of a blue sky" />
        <h3>Temperature</h3>
        <p>Convert Between Celsius, Fahrenheit And Kelvin</p>
        <NavLink href="Temperature">
            Go To Temperature Converter
        </NavLink>
    </div>
</div>

