h2 {
    text-align: center;
}

.intro {
    line-height: 1.4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.intro {
    line-height: 1.4rem;
    margin-bottom: 2rem;
}


@media (min-width: 1024px) {
    .calculator {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .calculator {
        display: flex;
        justify-content: center;
    }
}
