@page "/numberconverter";

<PageTitle>Number Converter</PageTitle>

<h2>Number Converter</h2>

<div class="calculator">
    <form @onsubmit="HandleSubmit" @onsubmit:preventDefault="true">
        <div class="select-container">
            <label for="from-base">From: </label>
            <select id="from-base" @bind="StartUnit" required>
                <option value="Decimal" selected>Decimal</option>
                <option value="Binary">Binary</option>
                <option value="Hexadecimal">Hexadecimal</option>
            </select>
        </div>
        <div class="select-container">
            <label for="to-base">To: </label>
            <select id="to-base" @bind="ConversionUnit" required>
                <option value="Decimal">Decimal</option>
                <option value="Binary" selected>Binary</option>
                <option value="Hexadecimal">Hexadecimal</option>
            </select>
        </div>
        <div class="input">
            <label for="number-input">Number: </label>
            <input id="nubmer-input" type="text" @bind="Input" />
        </div>
        <p class="@(Error ? "error" : "output")">@Result</p>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
