@using JVCalculatorCsharp.TemperatureConverter;
@page "/Temperature";

<h2>Temperature Converter</h2>
<p class="intro">Convert values between the three units of temperature; Celsius, Fahrenheit and Kelvin.</p>
<div class="calculator">
    <form @onsubmit="HandleTempConversion">
        <div class="select-container">
            <label for="startValue">From:</label>
            <select @bind="StartUnit" required>
                <option value="Celsius">Celsius</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Kelvin">Kelvin</option>
            </select>
        </div>
        <div class="select-container">
            <label for="ConversionValue">To:</label>
            <select @bind="ConvertToUnit" required>
                <option value="Celsius">Celsius</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Kelvin">Kelvin</option>
            </select>
        </div>
        <input @bind="StartValue" type="number" required />
        <p class="output">@ConvertedValue </p>
        <button class="btn" type="submit">Convert Temperature</button>
    </form>
</div>


@code {
    public string? StartValue { get; set; }
    public string? StartUnit { get; set; } = "Celsius";
    public string? ConvertToUnit { get; set; } = "Celsius";
    public string? ConvertedValue { get; set; }
    public bool Error { get; set; } = false;

    public void HandleTempConversion()
    {
        Console.WriteLine(StartUnit);
        Console.WriteLine(ConvertToUnit);
        decimal startValue;
        try
        {
            startValue = Convert.ToDecimal(StartValue);
            Error = false;
        }
        catch
        {
            Error = true;
            return;
        }

        if (StartUnit == "Kelvin" || ConvertToUnit == "Kelvin")
        {

            decimal convertedValue = ConvertTemperature.KelvinConversion(startValue, StartUnit!, ConvertToUnit!);
            ConvertedValue = convertedValue.ToString("G29");
        }

        else
        {
            decimal convertedValue = ConvertTemperature.CelsiusFahrenheitConversion(startValue, StartUnit!, ConvertToUnit!);
            ConvertedValue = convertedValue.ToString("G29");
        }
    }

}
